$susy: (
	// math: static,
	columns: 4,
	// container: 1920px,
	global-box-sizing: border-box,
	debug: (image: show),
	gutter-position: split,
	column-width: 48px,
	gutters: 2 / 3,
);

@include border-box-sizing;



.j-row {
	@include container(100%);

	@include media-query($mq-small) {
		@include show-grid(8);
	}
	@include media-query($mq-medium) {
		@include show-grid(12);
	}
	@include media-query($mq-large) {
		@include show-grid(16);
	}
	@include media-query($mq-xlarge) {
		@include show-grid(20);
	}
}

.col-1 {
	@include span(4 of 4);

	@include media-query($mq-small) {
		@include show-grid(8);
	}
	@include media-query($mq-medium) {
		@include show-grid(12);
	}
	@include media-query($mq-large) {
		@include show-grid(16);
	}
	@include media-query($mq-xlarge) {
		@include show-grid(20);
	}
}

.col-1-2 {

}

.col-1-3 {

}

.col-2-3 {

}

// .jump-col-xs-1, .jc-xs-1 {
// 	@include span(4 of 4);
// 	background-color: orange;
// 	opacity: 0.5;
// }

.jump-col-lrg-1-2 {
	//@include span(4 of 4);
	background-color: green;
	//opacity: 0.5;
}


//SMALL SIZE
@media only screen and (min-width: 640px) {
	
	

	.jump-col-s-1, .jc-s-1 {
		@include span(8 of 8);
	}

	.jump-col-s-1-2, .jc-s-1-2 {
		@include span(4 of 8);
	}

	.jump-col-s-1-3, .jc-s-1-3 {
		@include span(2.66666 of 8 gutters(0));
	}

	.jump-col-s-2-3, .jc-s-2-3 {
		@include span(5.333333 of 8 gutters(0));
	}

}

//MEDIUM SIZE
@media only screen and (min-width: 960px) {

	.jump-col-md-1-2 {
		@include span(6 of 12);
		
		// &:last-child {
		// 	 @include last;
		// }
	}
}

//LARGE SIZE
@media only screen and (min-width: 1280px) {

	.jump-col-lrg-1-2 {
		@include span(8 of 16);

		// &:last-child {
		// 	 @include last;
		// }
	}
}

//EXTRA LARGE SIZE
@media only screen and (min-width: 1920px) {

}









