// JumpShip Variables


//BASE SIZES

//Base font
$base-font: 18px;

//Base line height
$base-line-height: 24px;

$h-gutter: $base-line-height / 2;


//MEDIA QUERY DIMENSIONS
//Extra Small
$mq-xsmall: 320px;
//Small
$mq-small: 640px;
//Medium
$mq-medium: 960px;
//Large
$mq-large: 1280px;
//Extra large
$mq-xlarge: 1920px;